/* GLOBAL */

body {
    margin: 0;
    font-family: sans-serif;
    font-style: #333333;
    background: #1a1a1a;
}

.bg {
    width: 100%;
    height: 100vh;
    --grad1: #1a1a1a;
    --grad2: #151515;
    background: repeating-linear-gradient(45deg, var(--grad1), var(--grad1) 15px, var(--grad2) 15px, var(--grad2) 30px, var(--grad1) 30px);
}

/* MAIN PAGE */

#container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cubeface {
    width: 20px;
    height: 20px;
    background: none;
    padding: 0px;
    display: grid;
    place-items: center;
}

.labeltext {
    color: #1a1a1a;
    font-size: 2px;
    padding: 0px;
    border: .5em solid #000000;
    background: none;
    /* opacity: .5; */
}
/* SEED */
