body {
    margin: 0;
    font-family: sans-serif;
    font-style: #333333;
    background: #1a1a1a;
}

.bg {
    width: 100%;
    height: 100vh;
    --grad1: #1a1a1a;
    --grad2: #151515;
    background: repeating-linear-gradient(45deg, var(--grad1), var(--grad1) 15px, var(--grad2) 15px, var(--grad2) 30px, var(--grad1) 30px);
}

/* #css3d, #webgl {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1a1a1a; 
} */

#container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.labeltext {
    margin: 0; /* temp to prevent warnings, remove after */

}
