<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>:WICKED:</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>
		<script type="module">
			import * as THREE from "https://threejs.org/build/three.module.js";
			import { OrbitControls } from 'https://threejs.org/examples/jsm/controls/OrbitControls.js';
			let scene, 
				camera,
				renderer,
				controls;

			init();
			animate();

			function init() {
				scene = new THREE.Scene();

				renderer = new THREE.WebGLRenderer();
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );

				camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
				
				window.addEventListener( 'resize', onWindowResize, false );
				function onWindowResize() {
					camera.aspect = window.innerWidth / window.innerHeight;
					camera.updateProjectionMatrix();
					renderer.setSize(window.innerWidth, window.innerHeight);
				}

				scene.background = new THREE.Color( 0x1a1a1a );
				scene.fog = new THREE.Fog( new THREE.Color( 0x1a1a1a), 3, 6)
				
				controls = new OrbitControls( camera, renderer.domElement);

				// setup done //

				const geometry = new THREE.BoxGeometry();
				const material = new THREE.MeshBasicMaterial( { color: 0xf4ff1f } ); //becdbc
				const cube = new THREE.Mesh( geometry, material );
				scene.add( cube );

				document.addEventListener('mousemove', onMouseMove, false);

				camera.position.z = 5;
			}

			function onMouseMove() {
				console.log((event.clientX / window.innerWidth) * 2 - 1);
				console.log(-(event.clientY / window.innerHeight) * 2 + 1);
			}

			function animate() { // animate loop
				requestAnimationFrame( animate );

				// cube.rotation.x += 0.001;
				// cube.rotation.y += 0.001;

				renderer.render( scene, camera );
			};
			animate();
		</script>
	</body>
</html>